.intro__list {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 34px 0 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .intro__list {
    margin-top: 33px;
  }
}